<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL_USER 程序</title>
</head>
<body>
    <h1>USERS_LIST</h1>
    <form action="/admin/user/update" method="post">
        id:<input name="id">
        <br>
        new_password:<input type="text" name="password">
        <br>
        <button type="submit">修改密码</button>
    </form>
    {% for u in users %}
        <div>
            {{ u.id }}, {{ u.username }}, {{ u.password }}
        </div>
    {% endfor %}
</body>
</html>
